<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <h2>Courses</h2>

    </div>
  </div>
  <div class="row">
    

  <div class="col-sm-2">
  <div class="card 1">
    <div class="card_image"> <img src="assets/vision.jpeg"/></div>
    <div class="card_title title-white">
      <p>Vision</p>
    </div>
  </div>
</div>
<div class="col-sm-2">
  <div class="card 1">
    <div class="card_image"> <img src="assets/maths.jpeg"></div>
    <div class="card_title title-white">
      <p>Maths</p>
    </div>
  </div>
</div>
<div class="col-sm-2">
  <div class="card 1">
    <div class="card_image"> <img src="assets/physics.jpeg"> </div>
    <div class="card_title title-white">
      <p>Physics</p>
    </div>
  </div>
</div>

<div class="col-sm-1">
  <div class="card 1">
    <div class="card_image"> <img src="assets/creative.webp"> </div>
    <div class="card_title title-white">
      <p>Creative</p>
    </div>
  </div>
</div>
<div class="col-sm-5">
  <div class="dashed">
    <div class="search">
      <input type="search" class="form-control rounded" placeholder="Search Courses">
     
    </div>
    
    <div class="buttons">
      

    <button type="button" class="white p-1">Ongoing</button>
    <button type="button" class="white p-1">New Courses</button>
    <button type="button" class="white p-1">Completed</button>
    <button type="button" class="white p-1">Topics</button>

  </div>
  </div>

  </div>  
</div>

  <div class="row">
   
    <div class="col-sm-1">

      <div class="card 1 mt-0">
        <div class="card_image"> <img src="assets/land .webp"> </div>
        
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card 1 mt-0">
        <div class="card_image"> <img src="assets/mountain.webp"></div>
       
      </div>
    </div>
   
  </div>
  <div class="row">
   <div class="col-sm-2">
    <h3>Ongoing</h3>
   </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
  <video width="320" height="240" loop onmouseover="this.play()" onmouseout="this.pause();">
   <source src="/assets/trees.mp4" type="video/mp4">
              
        <p>tigers</p>       
  </video>
  </div>
  <div class="col-sm-3">
   <video width="320" height="240" loop onmouseover="this.play()" onmouseout="this.pause();">
  <source src="/assets/car.mp4video.mp4" type="video/mp4">
  </video>
  </div>                      
  <div class="col-sm-3">
                <video width="320" height="240" loop onmouseover="this.play()" onmouseout="this.pause();">
               <source src="/assets/rocket.mp4" type="video/mp4">
               </video>
               </div>                           
               <div class="col-sm-3">
                <video width="320" height="240" loop onmouseover="this.play()" onmouseout="this.pause();">
               <source src="/assets/business.mp4" type="video/mp4">
               </video>
               </div>            
  </div>
  </div>
