

<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img src="assets/pimage.jpeg" height="65px" />
    </a>
    <div class="space"></div>
    <div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="login me-4">
           <button
            class="btn btn-danger"
            (click)="openDialog()"
           
          >
            Login
          </button>
        </div>
        <div class="signup me-4">
          <button
            class="btn btn-success"
            (click)="openDialog2()"
          >
            Signup
          </button>
        </div>
      </div>
    </div>
  </nav>
<div class="section-1">
  <div class="row img-row">
    <div class="text-center">
      <h1>Get Your Next</h1>
      <h2>Chai time & Snacks idea</h2>
    </div>
    <div class="row g-0">
      <div class="col-sm-3 p-2">
        <div class="samosa">
          <img src="assets/samosaimage.jpeg" />
        </div>
        <br />
        <div class="samosa">
          <img src="assets/ice1image.jpeg" />
        </div>
      </div>
      <div class="col-sm-2 p-2">
        <div class="idly">
          <img src="assets/idlyimage.jpeg" />
        </div>
      </div>
      <div class="col-sm-2 p-2">
        <div class="coffee">
          <img src="assets/coffee1.jpeg" />
        </div>
      </div>
      <div class="col-sm-2 p-2">
        <div class="biscuit">
          <img src="assets/bisimage.jpeg" />
        </div>
      </div>
      <div class="col-sm-3 p-2">
        <div class="milkjar">
          <img src="assets/mjarimage.jpeg" />
        </div>
        <br />
        <div class="milkjar">
          <img src="assets/snacksimage.jpeg" />
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row vh-100 bg-warning section-2">

  </div>
</div>



