<!-- <section class="vh-100">
  <div class="container h-100">
    <div class="row g-0 d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body p-5">   
        <h3 class="login">Sign up</h3>
        <div class="form-outline mb-4">
          <label class="form-label">Email</label>
          <input type="email"class="form-control form-control-lg" placeholder="E-mail" />
        </div>
        <div class="form-outline mb-4">
          <label class="form-label">Password</label>
          <input type="password"class="form-control form-control-lg" placeholder="password" />
        </div>
        <div class="form-outline mb-4">
          <label class="form-label">Date Of Birth</label>
         
          <input type="date" id="birthday" name="birthday"class="form-control form-control-lg" />
        </div>
       
        <div class="row lastlogin text-center">
          <button class="btn btn-primary">Sign up</button>
    
      </div>
      <br>
      <p>By continuing, you agree to Pinterest's</p>
         <p><b>Terms of Service;</b>Opens a new tab and acknowledge you've read</p>
         <p><b>Privacy Policy;Notice at collection;</b></p>             
      </div>           
    </div>
  </div>
</div>
</div>
</section>   -->

        

      

<div class="row g-0"mat-dialog-close="true">
              <h2><span class="ic me-3">x</span></h2>
            </div>      
            
            <div class="row g-0">
            <div class="card1 p-4">
            <h3 class="login">Sign up</h3>
            <div class="form-outline mb-4">
            <label class="form-label">E-mail</label>
            <input
            type="email"
            class="form-control form-control-lg"
            placeholder="E-mail"
            />
            </div>
            <div class="form-outline mb-4">
            <label class="form-label">Password</label>
            <input
            type="password"
            class="form-control form-control-lg"
            placeholder="Password"
            />
            </div>
            <div class="form-outline mb-4">
              <label class="form-label">Date Of Birth</label>
              <input type="date" id="birthday" name="birthday"class="form-control form-control-lg" />
            </div>
            
            <div class="row lastlogin text-center">
            <button class="btn btn-danger" routerLink="/sidenav">Signup</button>
            </div>
            <br />
            <p>By continuing, you agree to Pinterest's</p>
            <p><b>Terms of Service;</b>Opens a new tab and acknowledge you've read</p>
            <p><b>Privacy Policy;Notice at collection;</b></p>
            </div>
            </div>
                
            
                                
                      
                            
