<div class="container">
  <div class="row g-0">
    <div class="col-sm-6 p-3">
<span style="font-size: 35px; font-weight: bold; color: darkgray;">HOME</span>
    </div>
  </div>
  <div class="row">
  <div class="col-sm-6">
   <span style="font-size: 15px; font-weight: bold;">Ongoing</span>
  </div>
 <div class="col-sm-6">
  <div class="right-button">
  <button type="button" class="btn btn-secondary">See all</button>
</div>
 </div>
  </div>
<div class="row">
  <div class="col-sm-3">
<video width="320" height="240" loop onmouseover="this.play()" onmouseout="this.pause();">
 <source src="/assets/trees.mp4" type="video/mp4">
            
      <p>tigers</p>       
</video>
</div>
<div class="col-sm-3">
 <video width="320" height="240" loop onmouseover="this.play()" onmouseout="this.pause();">
<source src="/assets/car.mp4video.mp4" type="video/mp4">
</video>
</div>                      
<div class="col-sm-3">
              <video width="320" height="240" loop onmouseover="this.play()" onmouseout="this.pause();">
             <source src="/assets/rocket.mp4" type="video/mp4">
             </video>
             </div>                           
             <div class="col-sm-3">
              <video width="320" height="240" loop onmouseover="this.play()" onmouseout="this.pause();">
             <source src="/assets/business.mp4" type="video/mp4">
             </video>
             </div>            
</div>
<!-- <div class="project-container">
  <video class="content" controls loop onmouseover="this.play()" onmouseout="this.pause();" >
        <source src="https://media.w3.org/2010/05/sintel/trailer.mp4">
  </video>
</div> -->
<div class="row p-4">
  <div class="col-sm-6">
   <p style="font-size: 15px; font-weight: bold;">New Topics</p>
  </div>
  <div class="col-sm-6 ">
    <div class="right-button">
    <button type="button" class="btn btn-secondary">See all</button>
  </div>
  </div>
  </div>
<div class="row">
  <div class="col-sm-3">
    <div class="card" style="width: 20rem;">
      <img src="/assets/angular.jpeg" class="card-img-top" height="160" weidth="10">
      <div class="card-body">
        <h3>Angular</h3>
        <p class="card-text">This Course Will teach You</p>

      </div>
      <div class="btn">
      <button type="button" class="btn btn-primary">Register</button>
    </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card" style="width: 20rem;">
      <img src="/assets/web1.jpeg" class="card-img-top" height="160" weidth="10">
      <div class="card-body">
        <h3>Web Development</h3>
        <p class="card-text">This Course Will teach You</p>

      </div>
      <div class="btn">
      <button type="button" class="btn btn-primary">Register</button>
    </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card" style="width: 20rem;">
      <img src="/assets/flutter2.jpeg" class="card-img-top" height="160">
      <div class="card-body">
        <h3>Flutter</h3>
        <p class="card-text">This Course Will teach You</p>

      </div>
      <div class="btn">
      <button type="button" class="btn btn-primary">Register</button>
    </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="width: 20rem;">
      <img src="/assets/full.webp" class="card-img-top" height="160" weidth="10">
      <div class="card-body">
        <h3>Full Stack Development</h3>
        <p class="card-text">This Course Will teach You</p>

      </div>
      <div class="btn">
      <button type="button" class="btn btn-primary">Register</button>
    </div>
    </div>
  </div>
</div>

</div>